aiofiles==0.6.0
aiohttp==3.7.4
aiohttp-socks==0.5.5
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
future==0.18.2
idna==2.10
multidict==5.1.0
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
PySocks==1.7.1
python-socks==1.2.0
pywin32-ctypes==0.2.0
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.4
yarl==1.6.3
