aiofiles==0.6.0
aiohttp==3.7.3
aiohttp-socks==0.5.5
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
idna==2.10
numpy==1.19.2
pandas==1.1.2
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10